<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.church.homepage.mapper.SermonMapper">

    <select id="getList" resultType="com.church.homepage.dto.SermonDTO">
        SELECT * FROM SERMON ORDER BY S_DATE DESC
    </select>

    <select id="getDetail" resultType="com.church.homepage.dto.SermonDTO">
        SELECT * FROM SERMON WHERE S_NO = #{s_no}
    </select>
<insert id="register" parameterType="com.church.homepage.dto.SermonDTO">
    <selectKey keyProperty="s_no" resultType="int" order="BEFORE">
        SELECT SERMON_SEQ.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO SERMON (S_NO, S_TITLE, S_PREACHER, S_DATE, S_SCRIPTURE, S_VIDEO_URL)
    VALUES (#{s_no}, #{s_title}, #{s_preacher}, SYSDATE, #{s_scripture}, #{s_video_url})
</insert>
</mapper>